@{
    ViewBag.Title = "Edit";
    //Layout = null;
}


@model  JsMiracle.Entities.IMS_UP_YH


@using (Ajax.BeginForm("Save", "User"
        , new AjaxOptions()
        , new { enctype = "multipart/form-data", id = "frmUser" }))
{
    @Html.ValidationSummary();
    @Html.HiddenFor(n => n.ID);
    @Html.HiddenFor(n => n.ZT);
    <table class="TB" >
        <tr>
            <td>员工编号</td>
            <td>@Html.TextBoxFor(n => n.YHID, new { id = "txtUserId" })</td>
        </tr>
        <tr>
            <td>员工姓名</td>
            <td>@Html.TextBoxFor(n => n.YHM, new { id = "txtUserName" })</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.TextBoxFor(n => n.DY, new { id = "txtEmail" })</td>
        </tr>
        <tr>
            <td>登录密码</td>
            <td>@Html.TextBoxFor(n => n.MM, new { id = "txtPwd", type = "password" })</td>
        </tr>
        <tr style="text-align:center;display:table-row;">
            <td colspan="2">
                @*<input type="submit" value="提交" class="easyui-linkbutton" />*@
            
                <a class="easyui-linkbutton" iconcls="icon-save" href="javascript:$('#frmUser').form('submit')">提交</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:$('#frmUser').form('reset')">取消</a>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(function () {
        $('#frmUser').form({
            success: function (data) {
                console.log(data);
                var data = eval('(' + data + ')');
                if (data.success) {
                    $.messager.alert('用户信息', data.msg, "info", function () {
                        //closeWindow('0001');
                        JsMiracleCommon.closeWindow();
                    });
                }
            }
        });

        $("#txtUserId").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtUserName").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtPwd").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });
    });
</script>