@{
    ViewBag.Title = "Edit";
    //Layout = null;
}


@model  JsMiracle.Entities.IMS_UP_User


@using (Ajax.BeginForm("Save", "User"
        , new AjaxOptions()
        , new { enctype = "multipart/form-data", id = "ff" }))
{
    @Html.HiddenFor(n => n.ID);
    @Html.HiddenFor(n => n.State);
    <table class="TB" style="height:230px;">
        <tr>
            <td>员工编号</td>
            <td>@Html.TextBoxFor(n => n.UserID, new { id = "txtUserId" })</td>
        </tr>
        <tr>
            <td>员工姓名</td>
            <td>@Html.TextBoxFor(n => n.UserName, new { id = "txtUserName" })</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.TextBoxFor(n => n.Email, new { id = "txtEmail" })</td>
        </tr>
        <tr>
            <td>登录密码</td>
            <td>@Html.TextBoxFor(n => n.Password, new { id = "txtPwd", type = "password" })</td>
        </tr>
        <tr style="text-align:center;display:table-row;">
            <td colspan="2"><input type="submit" value="提交" class="easyui-linkbutton" /></td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(function () {
        $('#ff').form({
            success: function (data) {
                console.log(data);
                var data = eval('(' + data + ')');
                if (data.success) {
                    $.messager.alert('用户信息', data.msg, "info", function () {
                        //closeWindow('0001');
                        closeWindow();
                    });
                }
            }
        });

        $("#txtUserId").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtUserName").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtPwd").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });
    });
</script>