@{
    ViewBag.Title = "List";
}

<div style="height:750px;">
    <table cellpadding="5">
        <tr>
            <td>
                查询明细
            </td>
            <td>
                <input type="text" id="txt" class="easyui-textbox" style="width:100%;height:32px" />
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search"
                   onclick="reloadGrid()">查询</a>
            </td>
            <td>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add"
                   onclick="showWindow('用户信息新增', '@Url.Action("Create")', 400, 350)">新增</a>
            </td>
        </tr>
    </table>

    <div>
        <table id="userGrid" style="padding:10px"></table>
    </div>
</div>
@*<div id="dd" class="easyui-window" style="width:900px;height:600px;">Dialog Content.</div>*@

<script type="text/javascript">
    function reloadGrid() {
        var txtVal = $("#txt").val();
        $("#userGrid").datagrid('reload',
                {
                    txt: txtVal,
                }
            );
    }

    function showDialog() {
        $('#dd').dialog({
            title: 'My Dialog',
            width: 400,
            height: 200,
            closed: false,
            cache: false,
            href: 'http://localhost/extjs6/',
            modal: true
        });
    }

    $(function () {
        // 必须在页面加载后执行，否则边框画不全，应该是easyui加载时边框距离计算错误的原因
        $("#userGrid").datagrid(
              {
                  url: '@Url.Action("GetUserList")',
                  title: '用户信息',
                  singleSelect: true,
                  loadMsg: '数据载入中...',
                  pagination: true, // 是否显示分页控件
                  pagesize: 10,      // 每页行数
                  pageList: [10],    // 要选的每页行数 为了界面显示正确一定要和pagesize的值相同
                  height: '650px',
                  columns: [[
                      {
                          field: '_operate', title: '操作', width: 150, align: 'center'
                          , formatter: function (value, row, index) {
                              var editActionUrl = '\'' + '@Url.Action("Edit")' + '?id=' + row.ID + '\'';
                              var html = '<a href="javascript:void(0)"  class="loan_remove_button" onclick="removeUser(\'' + row.ID + '\',\'' + row.UserName + '\')" >删除</a>'
                                        + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                        + '<a href="javascript:void(0)"  class="loan_edit_button" '
                                        + ' onclick="showWindow(\'用户信息编辑\',' + editActionUrl + ', 400,350);" >修改</a>';
                              console.log(html);
                              return html;
                          }
                      },
                      { field: 'ID', title: 'ID', width: 100, align: 'center' },
                      { field: 'UserID', title: '员工号', width: 100, align: 'center' },
                      {
                          field: 'UserName', title: '员工姓名', width: 100, align: 'center'
                          , formatter: function (value, row, index) {
                              var editActionUrl = '\'' + '@Url.Action("Edit")' + '?id=' + row.ID + '\'';
                              var html = '<a href="###"  onclick="showWindow(\'用户信息编辑\',' + editActionUrl + ', 400,350);" >'
                                        + value + '</a>';
                              //console.log(html);
                              return html;
                          }
                      },
                      { field: 'Email', title: 'Email', width: 150, align: 'center' },
                      // dateTimeFormatter 在 ~/Scripts/CustomScripts/common.js 中定义好的方法，用于格式化数据字符串
                      {
                          field: 'CreateDate', title: '创建日期', width: 150, align: 'center'
                            , formatter: dateTimeFormatter
                      }
                  ]],
                  onLoadSuccess: function (data) {
                      $(".loan_remove_button").linkbutton({ iconCls: 'icon-remove' });
                      $(".loan_edit_button").linkbutton({ iconCls: 'icon-edit' });
                  }
              });
    });

    function removeUser(id,name) {
        $.messager.confirm('Confirm', '确定删除用户\'' + name + '\'?'
            , function (r) {
                if (r) {
                    $.post('@Url.Action("Remove")', { id: id }, function (result) {
                        if (result.success) {
                            $('#userGrid').datagrid('reload');    // 重新加载用户数据
                        } else {
                            $.messager.alert({    // 显示错误信息
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    }, 'json');
                }
            });
    }

</script>
