@{
    ViewBag.Title = "EditContainer";
}


@model JsMiracle.Entities.TabelEntities.IMS_CB_RQ

@using (Ajax.BeginForm("SaveContainer", "Container"
            , new AjaxOptions()
            , new { enctype = "multipart/form-data", id = "frmContainer" }))
{
    if (@Model.ID != 0)
    {
    @Html.HiddenFor(n => n.RQBH);
    }

    @Html.HiddenFor(n => n.ID);
    @Html.HiddenFor(n => n.ZCSJ);

    <table class="TB">
        <tr>
            <td>
                容器类型
            </td>
            <td colspan="3">
                @Html.DropDownListFor(n => n.LXBH, ViewBag.ContainerType as IEnumerable<SelectListItem>
             , new { id = "ddlRQLXID", style = "width:250px;" })
            </td>
        </tr>
        <tr>
            <td>
                容器编号
            </td>
            <td>
                @Html.TextBoxFor(n => n.RQBH, new { id = "txtRQBH" })
            </td>
            <td>扫描条码</td>
            <td>@Html.TextBoxFor(n => n.SMTM, new { id = "txtSMTM" })</td>
        </tr>
        <tr>
            <td>
                当前位置
            </td>
            <td> @Html.TextBoxFor(n => n.DQWZ, new { id = "txtDQWZ" })</td>
            <td>当前长度</td>
            <td>@Html.TextBoxFor(n => n.DQCD, new { id = "txtDQCD" })</td>
        </tr>
        <tr>
            <td>
                当前重量
            </td>
            <td>@Html.TextBoxFor(n => n.DQZL, new { id = "txtDQZL" })</td>
            <td> 当前宽度</td>
            <td>@Html.TextBoxFor(n => n.DQKD, new { id = "txtDQKD" })</td>
        </tr>
        <tr>
            <td>
                锁定状态
            </td>
            <td>@Html.TextBoxFor(n => n.SDZT, new { id = "txtSDZT" })</td>
            <td> 占用状态</td>
            <td>@Html.TextBoxFor(n => n.ZYZT, new { id = "txtZYZT" })</td>
        </tr>
        <tr>
            <td>
                位置状态
            </td>
            <td>@Html.TextBoxFor(n => n.WZZT, new { id = "txtWZZT" })</td>
            <td> 使用状态</td>
            <td>@Html.TextBoxFor(n => n.SYZT, new { id = "txtSYZT" })</td>
        </tr>
        <tr>
            <td>
                使用册书
            </td>
            <td>@Html.TextBoxFor(n => n.SYCS, new { id = "txtSYCS" })</td>
            <td>注册位置</td>
            <td>@Html.TextBoxFor(n => n.ZCWZ, new { id = "txtZCWZ" })</td>
        </tr>
        <tr>
            <td>备注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="3">@Html.TextAreaFor(n => n.BZ, new { id = "txtBZ", @style = "width:300px;" })</td>
        </tr>
        <tr id="submitRow">
            <td colspan="4">
                <a class="easyui-linkbutton" iconcls="icon-save" href="###" onclick="JsMiracleCommon.submit(this, 'frmContainer')">提交</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="easyui-linkbutton" iconcls="icon-cancel" href="###" onclick="JsMiracleCommon.cancelWidow('frmContainer')">取消</a>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">

    $(function () {
        $('#frmContainer').form({
            success: function (data) {
                var ret = JSON.parse(data);
                if (ret.success) {
                    $.messager.alert('容器编辑', ret.msg, "info", function () {

                        // 关闭当前div 刷新父窗体
                        JsMiracleCommon.closeWindow(-1, ret.parentid);
                    });
                }
                else {
                    $.messager.alert('容器编辑', ret.msg, "error");
                }
            }
        });


        $("#ddlRQLXID").combobox(
           {
               valueField: 'ID',
               textField: 'LXMC',
               editable: false,
               required: true,
               validType: 'valueNotEqual["--请选择--"]',
               missingMessage: '请从下拉框中选择容器类型'
           });

        $("#txtRQBH").textbox({
            required: true,
            missingMessage: '容器编号不得为空',
            // 修改不得改主键
            disabled: (@Model.ID != 0 )
        });


        $("#txtSMTM").textbox({
            required: true,
            missingMessage: '扫描条码不得为空'
        });

        $("#txtDQWZ").textbox({
            required: true,
            missingMessage: '当前位置不得为空'
        });

        $("#txtDQCD").numberbox({
            required: true,
            missingMessage: '当前长度不得为空'
        });


        $("#txtDQZL").numberbox({
            required: true,
            missingMessage: '当前重量不得为空'
        });

        $("#txtDQKD").numberbox();


        $("#txtSDZT").numberbox({
            required: true,
            missingMessage: '锁定状态不得为空',
        });


        $("#txtZYZT").numberbox({
            required: true,
            missingMessage: '位置状态不得为空'
        });
        $("#txtWZZT").numberbox({
            required: true,
            missingMessage: '注册位置不得为空'
        });

        $("#txtSYZT").numberbox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtSYCS").numberbox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtZCWZ").textbox({
            required: true,
            missingMessage: '此框不得为空',
        });

        $("#txtBZ").textbox({ multiline: true, height: "40px" });

        // 此句必须放在最后,需要在easyui 所有控件加载完成后处理
        $("#frmContainer").enterAsTab({ 'allowSubmit': true });

        // 找到第一个可显示input,焦点进入
        $("#frmContainer").firstInputFocus();

    });

</script>
