<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Styles.Render("~/EasyUI/themes/base")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")

    <script type="text/javascript" src="~/Scripts/CustomScripts/jquery.easyui.extend.js"></script>
    @Scripts.Render("~/bundles/moment")
    <script type="text/javascript" src="~/Scripts/CustomScripts/common.js"></script>
    <link rel="icon" href="~/Content/images/favicon_32.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Content/images/favicon_32.ico" type="image/x-icon" />*@

</head>
<body>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
