@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head profile="http://www.w3.org/2005/10/profile">
    <title></title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/default/cssEasyui")
    @Styles.Render("~/Content/themes/cssIcon")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/Scripts/easyui")*@
    <script src="~/Scripts/jquery.easyui-1.4.3.min.js"></script>
    @Scripts.Render("~/Scripts/moment")
    @Scripts.Render("~/Scripts/CustomScripts/jquery.easyui.extend.js"
            , "~/Scripts/CustomScripts/common.js"
            , "~/Scripts/Home/Index.cshtml.js"
            , "~/Scripts/CustomScripts/jquery.md5.js")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <link rel="icon" href="~/Content/images/favicon_32.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Content/images/favicon_32.ico" type="image/x-icon" />
</head>

<body class="easyui-layout">
    <div data-options="region:'north'" style="height:70px; overflow-y:hidden;">
        @Html.Partial("_TitlePartial")
    </div>
    <div data-options="region:'west',split:true" title="菜单" style="width:300px;height:100%;">
        @{Html.RenderAction("_MenuPartial", "Home");}
    </div>
    <div id="mainLayout" data-options="region:'center',title:'主窗体'" style="overflow: hidden;">
        <div id="tab-tools">
            <a href="#" class="easyui-linkbutton" plain="true" iconcls="icon-reload" onclick="mainPage.refreshTab()" >刷新</a>             
        </div>
 
        <div id="mainTabs" class="easyui-tabs" data-options="tools:'#tab-tools'" style="width:100%;height:800px;">
        </div>
    </div>

</body>

</html>



