@{
    ViewBag.Title = "EditOrderForm";
}

<style type="text/css">
    .formTable {
        padding-left: 20px;
    }

        .formTable .lab {
            width: 50px;
        }
</style>

@using JsMiracle.WebUI.CommonSupport
@model JsMiracle.Entities.TabelEntities.IMS_VC_DJT

<div id="dvTarget">
    @using (Ajax.BeginForm("SaveOrderForm", "OrderForm"
            , new AjaxOptions()
            , new { enctype = "multipart/form-data", id = "frmOrderForm" + @ViewBag.BizType }))
    {
        if (Model.ID != 0)
        {
            @Html.HiddenFor(n => n.CJR)
            @Html.HiddenFor(n => n.CJSJ)
        }
        @Html.HiddenFor(n => n.ID)
        @Html.HiddenFor(n => n.YWLX)
        @Html.HiddenFor(n => n.SWDJLX)
        @Html.HiddenFor(n => n.SWSJBH)
        @Html.HiddenFor(n => n.DJZT)

        <div id="orderFormTools">
            <div class="box">
                <div>
                    <a class="easyui-linkbutton" iconcls="icon-save"
                       href="###" onclick="JsMiracleCommon.submit(this, 'frmOrderForm' + '@ViewBag.BizType')">保存</a>
                    &nbsp;
                    <a class="easyui-linkbutton" iconcls="icon-cancel"
                       href="###" onclick="javascript: $('#frmOrderForm' + '@ViewBag.BizType').form('reset')">取消</a>
                    &nbsp;
                    <a href="###" class="easyui-linkbutton" iconcls="icon-redo" onclick="window['editOrderForm' + '@ViewBag.BizType'].changeRef()">返回订单编辑</a>
                </div>
                <div style="padding-top:5px;">
                    @if (Model.ID != 0)
                    {
                        <a href="###" class="easyui-linkbutton" iconcls="icon-add"
                           onclick="window['editOrderForm' + '@ViewBag.BizType' ].edit('add')">新增订单数据</a>
                    }
                </div>
            </div>
            <table class="formTable" style="width:98%;" cellspacing="0" cellpadding="5">
                <tr>
                    <td class="lab">单据编号</td>
                    <td>
                        @Html.TextBoxFor(n => n.DJBH, new { @id = "txtDJBH" + ViewBag.BizType })
                    </td>
                    <td class="lab">单据状态</td>
                    <td>
                        @Html.TextBoxFor(n => n.DJZT, new { @id = "txtDJZT" + ViewBag.BizType, @Value = @ViewBag.DJStatus })
                    </td>
                    <td class="lab">来源</td>
                    <td>@Html.TextBoxFor(n => n.DJLY, new { @id = "txtDJLY" + ViewBag.BizType })</td>
                    <td class="lab">已上报</td>
                    <td>@Html.TextBoxFor(n => n.SFGX, new { @id = "txtSFGX" + ViewBag.BizType })</td>
                </tr>
                <tr>
                    <td class="lab">创建人</td>
                    <td>@Html.TextBoxFor(n => n.CJR, new { @id = "txtCJR" + ViewBag.BizType, @Value = CurrentUser.GetCurrentUser().UserInfo.YHID })</td>
                    <td class="lab">创建日期</td>
                    <td>@Html.TextBoxFor(n => n.CJSJ, new { @id = "txtCJSJ" + ViewBag.BizType })</td>
                    <td class="lab">完成人</td>
                    <td>@Html.TextBoxFor(n => n.WCR, new { @id = "txtWCR" + ViewBag.BizType })</td>
                    <td class="lab">完成时间</td>
                    <td>@Html.TextBoxFor(n => n.WCSJ, new { @id = "txtWCSJ" + ViewBag.BizType })</td>
                </tr>
                <tr>
                    <td class="lab">关联单据</td>
                    <td>@Html.TextBoxFor(n => n.GLDJ, new { @id = "txtGLDJ" + ViewBag.BizType })</td>

                </tr>
                <tr>
                    <td class="lab">备注</td>
                    <td colspan="7">@Html.TextBoxFor(n => n.BZ, new { @id = "txtBZ" + ViewBag.BizType })</td>
                </tr>
                <tr>
                    <td class="lab">描述</td>
                    <td colspan="7">@Html.TextBoxFor(n => n.MS, new { @id = "txtMS" + ViewBag.BizType })</td>
                </tr>
            </table>
        </div>
    }
    <table id="orderDataGrid" style="padding:10px"></table>
</div>

<script type="text/javascript">

    window['editOrderForm' + '@ViewBag.BizType'];

    $(function () {
        $("#orderFormTools").attr('id', 'orderFormTools' + '@ViewBag.BizType');
        $("#orderDataGrid").attr('id', 'orderDataGrid' + '@ViewBag.BizType');

        $('#frmOrderForm' + '@ViewBag.BizType').form({
            success: function (data) {
                console.log(data);
                var ret = eval('(' + data + ')');
                if (ret.success) {
                    $.messager.alert('订单信息', ret.msg, "info", function () {

                        var url = '@Url.Action("EditOrderForm")' + '?id=' + ret.id;

                        var tab = $('#mainTabs').tabs('getSelected');  // 获取选择的面板
                        tab.panel('refresh', url);
                    });
                }
                else {
                    $.messager.alert('订单信息', data.msg, "error");
                }
            }
        });

        $("#orderDataGrid" + '@ViewBag.BizType').datagrid({
            url: '@Url.Action("GetOrderData")' + '?djbh=' + '@Model.DJBH',
            singleSelect: true,
            height: '680px',
            rownumbers: true,
            toolbar: '#orderFormTools' + '@ViewBag.BizType',
            frozenColumns: [[
                {
                    field: '_operate', title: '操作', width: 350, align: 'center'
                          , formatter: function (value, row, index) {
                              var editFunStr = 'window[\'editOrderForm' + '@ViewBag.BizType\''
                                  + '].edit(\'mod\', ' + row.ID + ');';
                              var removeFunStr = 'JsMiracleCommon.removeItem(\'' + row.ID + '\',\''
                                  + row.HH + '\',\'@Url.Action("RemoveOrderData")\',orderformOp.refreshGrd)';

                              var html = '<a href="javascript:void(0)"  class="loan_remove_button" '
                                        + ' onclick="' + removeFunStr + '" >删除</a>'
                                        + '&nbsp;&nbsp;'
                                        + '<a href="javascript:void(0)"  class="loan_edit_button" '
                                        + ' onclick="' + editFunStr + '">修改</a>'
                                        + '&nbsp;&nbsp;'
                                        + '<a href="###" class="loan_release_button" '
                                        + ' onclick="' + '">组盘</a>'
                                        + '&nbsp;&nbsp;'
                                        + '<a href="###" class="loan_detail_button" '
                                        + ' onclick="' + '">显示明细</a>';

                              return html;
                          }
                }
            ]],
            columns: [[
                { field: 'HH', title: '行号', width: 100, align: 'center' },
                { field: 'HXW', title: '行为类型', width: 100, align: 'center' },
                { field: 'SKU', title: '品规ID', width: 100, align: 'center' },
                { field: 'PCBH', title: '批次编号', width: 100, align: 'center' },
                { field: 'DJSL', title: '单据数量', width: 100, align: 'center' },
                { field: 'WCSL', title: '完成数量', width: 100, align: 'center' },
                { field: 'LYSYZ', title: '来源所有者', width: 100, align: 'center' },
                { field: 'MDSYZ', title: '目的所有者', width: 100, align: 'center' },
                { field: 'LYD', title: '来源地', width: 100, align: 'center' },
                { field: 'MDD', title: '目的地', width: 100, align: 'center' },
                { field: 'ZT', title: '状态', width: 100, align: 'center' },
                { field: 'CJR', title: '创建人', width: 100, align: 'center' },
                {
                    field: 'CJSJ', title: '创建时间', width: 200, align: 'center'
                    , formatter: JsMiracleCommon.dateTimeFormatter
                },
                { field: 'BZ', title: '备注', width: 100, align: 'center' },
                { field: 'XSDDH', title: '销售订单号', width: 100, align: 'center' },
            ]],
            onLoadSuccess: function (data) {
                $(".loan_remove_button").linkbutton({ iconCls: 'icon-remove' });
                $(".loan_edit_button").linkbutton({ iconCls: 'icon-edit' });
                $(".loan_release_button").linkbutton({ iconCls: 'icon-edit' });
                $(".loan_detail_button").linkbutton({ iconCls: 'icon-edit' });
            },
            onLoadError: function (XMLHttpRequest) {
                JsMiracleCommon.showWindowContent("error", XMLHttpRequest.responseText
                    , "500px", "500px");
            }
        });

        $("#txtDJBH" + '@ViewBag.BizType').textbox({
            required: true,
            missingMessage: '单据编号不得为空'
        });


        $("#txtDJLY" + '@ViewBag.BizType').textbox({
            required: true,
            missingMessage: '来源不得为空'
        });

        $("#txtCJR" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtSFGX" + '@ViewBag.BizType').switchbutton({
            onText: '是',
            offText: '否'
        });

        @*$("#txtSWDJLX" + '@ViewBag.BizType').textbox({
            required: true,
            missingMessage: '上位单据类型不得为空'
        });

        $("#txtSWSJBH" + '@ViewBag.BizType').textbox({
            required: true,
            missingMessage: '上位单据编号不得为空'
        });*@

        $("#txtDJZT" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtCJSJ" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtWCR" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtWCSJ" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtBZ" + '@ViewBag.BizType').textbox({ width: '90%' });
        $("#txtMS" + '@ViewBag.BizType').textbox({ width: '90%' });
        $("#txtGLDJ" + '@ViewBag.BizType').textbox();

        window['editOrderForm' + '@ViewBag.BizType'] = {

            edit: function (op, id) {
                var width = '600px';
                var height = '400px';

                var title = '';
                var url = '';

                if (op == 'add') {
                    url = '@Url.Action("CreateOrderData", new { djbh = Model.DJBH })';
                    title = '订单内容新增';
                }
                else if (op == 'mod') {
                    url = '@Url.Action("EditOrderData")' + '?id=' + id;
                    title = '订单内容编辑';
                }
                else if (op == '') {
                    url = '@Url.Action("EditOrderData")' + '?id=' + id;
                    title = '订单内容编辑';
                }

                JsMiracleCommon.showWindow(title, url, width, height, this.reloadDataGrid);
            },

            reloadDataGrid: function () {
                $("#orderDataGrid" + '@ViewBag.BizType').datagrid('reload');
            },

            changeRef: function () {
                var url = '@ViewBag.ReturnUrl';

                if (url == '' || url == null)
                    url = '@Url.Action("Index")';

                // 调用 'refresh' 方法更新选项卡面板的内容
                var tab = $('#mainTabs').tabs('getSelected');  // 获取选择的面板
                tab.panel('refresh', url);
            }
        };

    });
</script>