@{
    ViewBag.Title = "EditOrderForm";
}

<style type="text/css">
    .formTable {
        padding-left: 20px;
    }

        .formTable .lab {
            width: 50px;
        }
</style>

@using JsMiracle.WebUI.CommonSupport
@model JsMiracle.Entities.TabelEntities.IMS_VC_DJT

<div id="dvTarget">
    @using (Ajax.BeginForm("SaveOrderForm", "OrderForm"
            , new AjaxOptions()
            , new { enctype = "multipart/form-data", id = "frmOrderForm" + @ViewBag.BizType }))
    {
        if (Model.ID != 0)
        {
            @Html.HiddenFor(n => n.CJR);
            @Html.HiddenFor(n => n.CJSJ);
        }
        @Html.HiddenFor(n => n.ID)
        @Html.HiddenFor(n => n.YWLX)
        @Html.HiddenFor(n => n.SWDJLX)
        @Html.HiddenFor(n => n.SWSJBH)
        @Html.HiddenFor(n => n.DJZT)

        <div id="orderFormTools">
            <div class="box">
                <div>
                    <a class="easyui-linkbutton" iconcls="icon-save" id="btnDJTSave"
                       href="###" onclick="JsMiracleCommon.submit(this, 'frmOrderForm' + '@ViewBag.BizType')">保存</a>
                    &nbsp;
                    <a class="easyui-linkbutton" iconcls="icon-cancel" id="btnDJTReset"
                       href="###" onclick="javascript: $('#frmOrderForm' + '@ViewBag.BizType').form('reset')">取消</a>
                    &nbsp;
                    <a href="###" class="easyui-linkbutton" iconcls="icon-redo" onclick="window['editOrderForm' + '@ViewBag.BizType'].changeRef()">返回订单编辑</a>
                </div>
                <div style="padding-top:5px;">
                    @if (Model.ID != 0)
                    {
                        <a href="###" class="easyui-linkbutton" iconcls="icon-add" id="btnAddDJH"
                           onclick="window['editOrderForm' + '@ViewBag.BizType' ].edit(this,'add')">新增订单数据</a>
                    }
                </div>
            </div>
            <table class="formTable" style="width:98%;" cellspacing="0" cellpadding="5">
                <tr>
                    <td class="lab">单据编号</td>
                    <td>
                        @Html.TextBoxFor(n => n.DJBH, new { @id = "txtDJBH" + ViewBag.BizType })
                    </td>
                    <td class="lab">单据状态</td>
                    <td>
                        @Html.TextBoxFor(n => n.DJZT, new { @id = "txtDJZT" + ViewBag.BizType, @Value = @ViewBag.DJStatus })
                    </td>
                    <td class="lab">来源</td>
                    <td>@Html.TextBoxFor(n => n.DJLY, new { @id = "txtDJLY" + ViewBag.BizType })</td>
                    <td class="lab">已上报</td>
                    <td>@Html.TextBoxFor(n => n.SFGX, new { @id = "txtSFGX" + ViewBag.BizType })</td>
                </tr>
                <tr>
                    <td class="lab">创建人</td>
                    <td>@Html.TextBoxFor(n => n.CJR, new { @id = "txtCJR" + ViewBag.BizType, @Value = CurrentUser.GetCurrentUser().UserInfo.YHID })</td>
                    <td class="lab">创建日期</td>
                    <td>@Html.TextBoxFor(n => n.CJSJ, new { @id = "txtCJSJ" + ViewBag.BizType })</td>
                    <td class="lab">完成人</td>
                    <td>@Html.TextBoxFor(n => n.WCR, new { @id = "txtWCR" + ViewBag.BizType })</td>
                    <td class="lab">完成时间</td>
                    <td>@Html.TextBoxFor(n => n.WCSJ, new { @id = "txtWCSJ" + ViewBag.BizType })</td>
                </tr>
                <tr>
                    <td class="lab">关联单据</td>
                    <td>@Html.TextBoxFor(n => n.GLDJ, new { @id = "txtGLDJ" + ViewBag.BizType })</td>

                </tr>
                <tr>
                    <td class="lab">备注</td>
                    <td colspan="7">@Html.TextBoxFor(n => n.BZ, new { @id = "txtBZ" + ViewBag.BizType })</td>
                </tr>
                <tr>
                    <td class="lab">描述</td>
                    <td colspan="7">@Html.TextBoxFor(n => n.MS, new { @id = "txtMS" + ViewBag.BizType })</td>
                </tr>
            </table>
        </div>

        <!--必须在form中，否则easyui会把自动把table中的内容拉出table层-->
        <table id="orderDataGrid" style="padding:10px"></table>
    }
</div>

<script type="text/javascript">

    window['editOrderForm' + '@ViewBag.BizType'];

    $(function () {
        $("#orderFormTools").attr('id', 'orderFormTools' + '@ViewBag.BizType');
        $("#orderDataGrid").attr('id', 'orderDataGrid' + '@ViewBag.BizType');

        $("#btnDJTSave").attr('id', 'btnDJTSave' + '@ViewBag.BizType');
        $("#btnDJTReset").attr('id', 'btnDJTReset' + '@ViewBag.BizType');

        var allowMod = ('@Model.CanModify' == 'True');

        // > 0 表示存在此控件，否则不存在
        if ($("#btnAddDJH").length > 0) {

            $("#btnAddDJH").attr('id', 'btnAddDJH' + '@ViewBag.BizType');

            $("#btnAddDJH" + '@ViewBag.BizType').linkbutton({
                disabled: !allowMod
            });
        }

        $("#btnDJTSave" + '@ViewBag.BizType').linkbutton({
            disabled: !allowMod
        });

        $("#btnDJTReset" + '@ViewBag.BizType').linkbutton({
            disabled: !allowMod
        });


        $('#frmOrderForm' + '@ViewBag.BizType').form({
            success: function (data) {
                //console.log(data);
                //var ret = eval('(' + data + ')');
                var ret = JSON.parse(data);
                if (ret.success) {
                    $.messager.alert('订单信息', ret.msg, "info", function () {

                        var url = '@Url.Action("EditOrderForm")' + '?id=' + ret.id;

                        var tab = $('#mainTabs').tabs('getSelected');  // 获取选择的面板
                        tab.panel('refresh', url);
                    });
                }
                else {
                    $.messager.alert('订单信息', ret.msg, "error");
                    $("#btnDJTSave" + '@ViewBag.BizType').linkbutton('enable');
                }
            }
        });

        $("#orderDataGrid" + '@ViewBag.BizType').datagrid({
            url: '@Url.Action("GetOrderData")' + '?djbh=' + '@Model.DJBH',
            singleSelect: true,
            height: '750px',
            rownumbers: true,
            toolbar: '#orderFormTools' + '@ViewBag.BizType',
            frozenColumns: [[
                {
                    field: '_opHead', title: '操作', width: 350, align: 'center'
                          , formatter: function (value, row, index) {
                              var removeFunStr = 'JsMiracleCommon.removeItem(\'' + row.ID + '\',\''
                                  + row.HH + '\',\'@Url.Action("RemoveOrderData")\',orderformOp.refreshGrd)';

                              var btnModAttr = '';
                              if (row.CanModify == false)
                                  btnModAttr = 'data-options = "disabled:true"';

                              var btnDel = '<a href="###"  class="loan_remove_button" '
                                        + btnModAttr
                                        + ' onclick="' + removeFunStr + '" >删除</a>';

                              var btnMod = '&nbsp;&nbsp;'
                                        + '<a href="###"  class="loan_edit_button" '
                                        + btnModAttr
                                        + ' onclick="' + window['editOrderForm' + '@ViewBag.BizType'].funStr('mod', row) + '">修改</a>';

                              var btnReleaseAttr = '';
                              if (row.CanRelease == false)
                                  btnReleaseAttr = 'data-options = "disabled:true"';

                              var btnRelease = '&nbsp;&nbsp;'
                                        + '<a href="###"  class="loan_release_button" '
                                        + btnReleaseAttr
                                        + ' onclick="' + window['editOrderForm' + '@ViewBag.BizType'].funStr('release', row) + '">释放</a>';


                              var btnZPAttr = '';
                              if (row.CanZP == false)
                                  btnZPAttr = 'data-options = "disabled:true"';

                              var btnZP = '&nbsp;&nbsp;'
                                        + '<a href="###" class="loan_zp_button" '
                                        + btnZPAttr
                                        + ' onclick="' + window['editOrderForm' + '@ViewBag.BizType'].funStr('zp', row) + '">组盘</a>';

                              var btnDtl = '&nbsp;&nbsp;'
                                        + '<a href="###" class="loan_detail_button" '
                                        + ' onclick="' + window['editOrderForm' + '@ViewBag.BizType'].funStr('showDtl', row) + '">显示明细</a>';

                              return btnDel + btnMod + btnRelease + btnZP + btnDtl;
                          }
                }
            ]],
            columns: [[
                { field: 'HH', title: '行号', width: 100, align: 'center' },
                { field: 'HXW', title: '行为类型', width: 100, align: 'center' },
                {
                    field: '_SKU', title: '品规ID', width: 100, align: 'center',
                    formatter: function (value, row, index) {
                        return row.WLMC + '(' + row.WLBH + ')';
                    }
                },
                { field: 'PCBH', title: '批次编号', width: 100, align: 'center' },
                { field: 'DJSL', title: '单据数量', width: 100, align: 'center' },
                { field: 'WCSL', title: '完成数量', width: 100, align: 'center' },
                { field: 'vlso', title: '来源所有者', width: 100, align: 'center' },
                { field: 'vlto', title: '目的所有者', width: 100, align: 'center' },
                { field: 'vls', title: '来源地', width: 100, align: 'center' },
                { field: 'vlt', title: '目的地', width: 100, align: 'center' },
                { field: 'vlhst', title: '状态', width: 100, align: 'center' },
                { field: 'CJR', title: '创建人', width: 100, align: 'center' },
                {
                    field: 'CJSJ', title: '创建时间', width: 200, align: 'center'
                    , formatter: JsMiracleCommon.dateTimeFormatter
                },
                { field: 'BZ', title: '备注', width: 100, align: 'center' },
                { field: 'XSDDH', title: '销售订单号', width: 100, align: 'center' },
                {
                    field: '_opTail', title: '操作', width: 200, align: 'center',
                    formatter: function (value, row, index) {
                        var btnCacelAttr = '';
                        if (row.CanCancel == false)
                            btnCacelAttr = 'data-options = "disabled:true"';

                        var btnCacel = '<a href="###" class="loan_cancel_button" '
                                  + btnCacelAttr
                                  + ' onclick="' + window['editOrderForm' + '@ViewBag.BizType'].funStr('cancel', row) + '">取消</a>';

                        var btnCompleteAttr = '';
                        if (row.CanComplete == false)
                            btnCompleteAttr = 'data-options = "disabled:true"';

                        var btnComplete = '&nbsp;&nbsp;'
                                  + '<a href="###" class="loan_complete_button" '
                                  + btnCompleteAttr
                                  + ' onclick="' + window['editOrderForm' + '@ViewBag.BizType'].funStr('complete', row) + '">完成</a>';

                        return btnCacel + btnComplete;
                    }
                },
            ]],
            onLoadSuccess: function (data) {
                $(".loan_remove_button").linkbutton({ iconCls: 'icon-remove' });
                $(".loan_edit_button").linkbutton({ iconCls: 'icon-edit' });
                $(".loan_release_button").linkbutton({ iconCls: 'icon-edit' });
                $(".loan_detail_button").linkbutton({ iconCls: 'icon-edit' });
                $(".loan_zp_button").linkbutton({ iconCls: 'icon-edit' });

                $(".loan_cancel_button").linkbutton({ iconCls: 'icon-edit' });
                $(".loan_complete_button").linkbutton({ iconCls: 'icon-edit' });

            },
            onLoadError: function (XMLHttpRequest) {
                JsMiracleCommon.showWindowContent("error", XMLHttpRequest.responseText
                    , "500px", "500px");
            }
        });

        $("#txtDJBH" + '@ViewBag.BizType').textbox({
            required: true,
            missingMessage: '单据编号不得为空'
        });


        $("#txtDJLY" + '@ViewBag.BizType').textbox({
            required: true,
            missingMessage: '来源不得为空'
        });

        $("#txtCJR" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtSFGX" + '@ViewBag.BizType').switchbutton({
            onText: '是',
            offText: '否'
        });

        @*$("#txtSWDJLX" + '@ViewBag.BizType').textbox({
            required: true,
            missingMessage: '上位单据类型不得为空'
        });

        $("#txtSWSJBH" + '@ViewBag.BizType').textbox({
            required: true,
            missingMessage: '上位单据编号不得为空'
        });*@

        $("#txtDJZT" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtCJSJ" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtWCR" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtWCSJ" + '@ViewBag.BizType').textbox({
            disabled: true,
        });

        $("#txtBZ" + '@ViewBag.BizType').textbox({ width: '90%' });
        $("#txtMS" + '@ViewBag.BizType').textbox({ width: '90%' });
        $("#txtGLDJ" + '@ViewBag.BizType').textbox();

        window['editOrderForm' + '@ViewBag.BizType'] = {
            funStr: function (fnName, row) {
                return 'editOrderForm' + '@ViewBag.BizType' + '.edit(this,\'' + fnName + '\', ' + row.ID + ',\'' + row.HH + '\');';
            },

            edit: function (btn, op, id, HH) {
                var width = '600px';
                var height = '400px';

                var title = '';
                var url = '';

                $(btn).linkbutton('disable');
                if (op == 'add' || op == 'mod' || op == 'zp' || op == 'showDtl') {
                    if (op == 'add') {
                        url = '@Url.Action("CreateOrderData", new { djbh = Model.DJBH })';
                        title = '订单内容新增';
                    }
                    else if (op == 'mod') {
                        url = '@Url.Action("EditOrderData")' + '?id=' + id;
                        title = '订单内容编辑';
                    }
                    else if (op == 'zp') {
                        width = '600px';
                        height = '500px';
                        title = '组盘';
                        url = '@Url.Action("IndexZP")' + '?id=' + id;
                    }
                    else if (op == 'showDtl') {
                        title = '组盘明细';
                    }

                    JsMiracleCommon.showWindow(title, url, width, height, this.reloadDataGrid);

                }
                else if (op == 'release' || op == 'cancel' || op == 'complete') {
                    var ajaxUrl = '@Url.Action("OrderDataState")';
                    var confirmMsg = '';

                    var params = {};

                    if (op == 'release') {
                        params = { 'id': id, 'state': 'VLSTS_Released' };
                        confirmMsg = '确定要释放(' + HH + ')吗?';
                    }
                    else if (op == 'cancel') {
                        params = { 'id': id, 'state': 'VLSTS_Cancel' };
                        confirmMsg = '确定要取消(' + HH + ')吗?';
                    }
                    else if (op == 'complete') {
                        params = { 'id': id, 'state': 'VLSTS_Completed' };
                        confirmMsg = '确定要完成(' + HH + ')吗?';
                    }

                    JsMiracleCommon.confirmAjaxPost(confirmMsg, ajaxUrl, params
                    , function () {
                        $("#orderDataGrid" + '@ViewBag.BizType').datagrid('reload');
                    });
                }

                $(btn).linkbutton('enable');
            },

            reloadDataGrid: function () {
                $("#orderDataGrid" + '@ViewBag.BizType').datagrid('reload');
            },

            changeRef: function () {
                var url = '@ViewBag.ReturnUrl';

                if (url == '' || url == null)
                    url = '@Url.Action("Index")';

                // 调用 'refresh' 方法更新选项卡面板的内容
                var tab = $('#mainTabs').tabs('getSelected');  // 获取选择的面板
                tab.panel('refresh', url);
            }
        };

    });
</script>