@{
    ViewBag.Title = "Edit";
}

@model JsMiracle.Entities.IMS_TB_Module


@using (Ajax.BeginForm("Save", "Module"
            , new AjaxOptions()
            , new { enctype = "multipart/form-data", id = "ff" }))
{

    @Html.ValidationSummary();
    @Html.HiddenFor(n => n.ID);

    @Html.HiddenFor(n => n.ParentID, new { @Value = Model.ParentID });

    <table class="TB">
        @if (Model.ParentID != -1)
        {
            <tr>
                <td>
                    父模块号
                </td>
                <td>
                    @Html.TextBoxFor(n => n.ParentID, new { @Value = Model.ParentID , @disabled ="disabled"})
                </td>
            </tr>
        }
        <tr>
            <td>模块编号</td>
            <td>
                @Html.TextBoxFor(n => n.ModuleID, new { id = "txtModuleID" })
            </td>
        </tr>
        <tr>
            <td>模块名称</td>
            <td>
                @Html.TextBoxFor(n => n.ModuleName, new { id = "txtModuleName" })
            </td>
        </tr>
        <tr>
            <td>排序号</td>
            <td>
                @Html.TextBoxFor(n => n.SortID, new { id = "txtSortID" })
            </td>
        </tr>
        <tr>
            <td>URL</td>
            <td>
                @Html.TextBoxFor(n => n.URL, new { id = "txtUrl", style = "width:250px;" })
            </td>
        </tr>
        <tr>
            <td>描述</td>
            <td>
                @Html.TextAreaFor(n => n.Description, new { id = "txtDesc", rows = "2" })
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left:180px;">
                <input type="submit" value="提交" class="easyui-linkbutton" />
            </td>
        </tr>
    </table>
}

<script type="text/javascript">
    // 增加长度验证方法
    $.extend($.fn.validatebox.defaults.rules, {
        minLength: {
            validator: function(value,param){
                return value.length >= param[0];
            },
            message: '此框内容不得小于{0}长度'
        }
    });

    $(function () {
        $('#ff').form({
            success: function (data) {
                console.log(data);
                var data = eval('(' + data + ')');
                if (data.success) {
                    $.messager.alert('模块编辑', data.message, "info", function () {
                        // 关闭当前div 刷新父窗体
                        closeWindow();
                    });
                }
            }
        });

        var init =  (@Model.ParentID != -1);
        var moduleAdd = (@Model.ModuleID == 0 );

        if (init){
            $("#txtUrl").validatebox({
                required: true,
                missingMessage:'此框不得为空'
            });          
        }


        if (moduleAdd){
            $("#txtModuleID").validatebox({
                required :true,
                validType:'minLength[3]'
            });
        }
        else {
            $("#txtModuleID").attr("readonly","readonly");
        }


        $("#txtModuleName").validatebox({
            required :true,
            missingMessage:'此框不得为空'
        });

        $("#txtSortID").validatebox({
            required :true,
            missingMessage:'此框不得为空'
        });

    });


</script>
