@{
    ViewBag.Title = "EditFunction";
}

@model  JsMiracle.Entities.IMS_UP_MKGN

<div>
    @using (Ajax.BeginForm("SaveFunction", "Module"
            , new AjaxOptions()
            , new { enctype = "multipart/form-data", id = "frmFunction" }))
    {
        @Html.HiddenFor(n => n.ID);
        @Html.HiddenFor(n => n.MKID, new { @Value = Model.MKID });
        @Html.HiddenFor(n => n.GNID, new { @Value = Model.GNID });

        <table class="TB">
            <tr>
                <td>父模块</td>
                <td>
                    @Html.TextBoxFor(n => n.MKID, new { @Value = string.Format("{0}({1})", ViewBag.ModName, Model.MKID), @disabled = "disabled" })
                </td>
            </tr>
            <tr>
                <td>功能编号</td>
                <td>@Html.TextBoxFor(n => n.GNID, new { @Value = Model.GNID, @disabled = "disabled" })</td>
            </tr>
            <tr>
                <td>功能名称</td>
                <td>@Html.TextBoxFor(n => n.GNMC, new { id = "txtFunName" })</td>
            </tr>
            <tr>
                <td>Controller</td>
                <td>@Html.TextBoxFor(n => n.KZMC, new { id = "txtControllerName" })</td>
            </tr>
            <tr>
                <td>Action</td>
                <td>@Html.TextBoxFor(n => n.HDMC, new { id = "txtActionName" })</td>
            </tr>
            <tr>
                <td>控件名称</td>
                <td>@Html.TextBoxFor(n => n.KJID, new { id = "txtConId" })</td>
            </tr>
            <tr>
                <td>描述</td>
                <td>@Html.TextAreaFor(n => n.MS, new { id = "txtDesc", rows = "2" })</td>
            </tr>
            <tr style="text-align:center;display:table-row;">
                <td colspan="2">
                    <a class="easyui-linkbutton" iconcls="icon-save" href="javascript:$('#frmFunction').form('submit')">提交</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:$('#frmFunction').form('reset')">取消</a>

                </td>
            </tr>
        </table>
    }
</div>


<script type="text/javascript">

    $(function () {
        $('#frmFunction').form({
            success: function (data) {
                var ret = JSON.parse(data);
                if (ret.success) {
                    $.messager.alert('模块编辑', ret.msg, "info", function () {
                        // 关闭当前div 刷新父窗体
                        JsMiracleCommon.closeWindow();
                    });
                }
            }
        });

        $("#txtFunName").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtConId").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtControllerName").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtActionName").validatebox({
            required: true,
            missingMessage: '此框不得为空'
        });
    });


</script>