@{
    ViewBag.Title = "ChangePassword";
}


@model  JsMiracle.WebUI.Areas.UP.Models.ChangePasswordModule 


@using (Ajax.BeginForm("ChangePassword", "User"
        , new AjaxOptions()
        , new { enctype = "multipart/form-data", id = "frmUserChangePassword" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(n=>n.ID)
    @Html.HiddenFor(n => n.OldPasswordMD5, new { id="hdPwdMd5"})
    <table class="TB">
        <tr>
            <td>员工编号</td>
            <td>@Html.TextBoxFor(n => n.UserID, new { id = "txtUserId" })</td>
        </tr>
        <tr>
            <td>员工姓名</td>
            <td>@Html.TextBoxFor(n => n.UserName, new { id = "txtUserName" })</td>
        </tr>
        <tr>
            <td>旧密码</td>
            <td>@Html.TextBoxFor(n => n.OldPassword, new { id = "txtOldPwd" }) </td>
        </tr>
        <tr>
            <td>新密码</td>
            <td>@Html.TextBoxFor(n => n.NewPassword, new { id = "txtPwd1", type = "password" })</td>
        </tr>
        <tr>
            <td>重复新密码</td>
            <td>@Html.TextBoxFor(n => n.NewPassword, new { id = "txtPwd2", type = "password" })</td>
        </tr>
        <tr style="text-align:center;display:table-row;">
            <td colspan="2">
                @*<input type="submit" value="提交" class="easyui-linkbutton" />*@

                <a class="easyui-linkbutton" iconcls="icon-save" href="###" id="ChangePassword_submit"
                   onclick="validatingChangePasswordForm()">提交</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="easyui-linkbutton" iconcls="icon-cancel" href="###"
                   onclick="JsMiracleCommon.cancelWidow('frmUserChangePassword')">取消</a>
            </td>
        </tr>
    </table>
}

<script type="text/javascript">

    function validatingChangePasswordForm() {
        var oldmd5= $("#hdPwdMd5").val();
        var inputmd5 = $.md5($("#txtOldPwd").val());
        //console.log(oldmd5.toLowerCase());
        //console.log(inputmd5.toLowerCase());

        if (oldmd5.toLowerCase() != inputmd5.toLowerCase())
        {
            $.messager.alert('系统信息', '旧密码错误');
            return;
        }
        var btn = document.getElementById('ChangePassword_submit');
        JsMiracleCommon.submit(btn, 'frmUserChangePassword');
    }


    $(function () {
        $('#frmUserRegistion').form({
            success: function (data) {
                console.log(data);
                var data = eval('(' + data + ')');
                if (data.success) {
                    $.messager.alert('用户信息', data.msg, "info", function () {
                        //closeWindow('0001');
                        JsMiracleCommon.closeWindow();
                    });
                }
                else {
                    $.messager.alert('操作失败', data.msg, 'error');
                }
            }
        });

        $("#txtUserId").textbox({
            disabled: true           
        });

        $("#txtUserName").textbox({
            disabled: true           
        });

        $("#txtOldPwd").textbox({
            required: true,
            missingMessage: '此框不得为空'
        });

        $("#txtPwd1").textbox({
            required: true,
            validType: 'equalTo["#txtPwd2"]',
            invalidMessage: "两次输入密码不匹配",
            missingMessage: '此框不得为空'
        });

        $("#txtPwd2").textbox({
            required: true,
            validType: 'equalTo["#txtPwd1"]',
            invalidMessage: "两次输入密码不匹配",
            missingMessage: '此框不得为空'
        });


         var islogin = @ViewBag.Login;

    });
</script>