@{
    ViewBag.Title = "EditObjectData";
}

@model JsMiracle.Entities.TabelEntities.IMS_CM_DXXX

@using (Ajax.BeginForm("SaveObjectData", "ObjectData"
            , new AjaxOptions()
            , new { enctype = "multipart/form-data", id = "frmObjectData" }))
{
    @Html.HiddenFor(n=>n.ID)
    @Html.HiddenFor(n => n.XGR)
    @Html.HiddenFor(n => n.XGRQ)
    @Html.HiddenFor(n=>n.DXDM)
    @Html.HiddenFor(n=>n.DXZD)
    @Html.HiddenFor(n=>n.ZDLX)

    <table class="TB">
        <tr>
            <td>对象名称</td>
            <td>@Html.TextBoxFor(n => n.DXDM, new { @id = "txtDXDM", @Value = ViewBag.DXMC })</td>
        </tr>
        <tr>
            <td>数据字段</td>
            <td>@Html.TextBoxFor(n => n.DXZD, new { @id = "txtDXZD" }) </td>
        </tr>
        <tr>
            <td>显示名称</td>
            <td>@Html.TextBoxFor(n => n.ZDMC, new { @id = "txtZDMC" })</td>
        </tr>
        <tr id="submitRow">
            <td colspan="2">
                <a class="easyui-linkbutton" iconcls="icon-save" href="###" onclick="javascript:$('#frmObjectData').form('submit')">提交</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="easyui-linkbutton" iconcls="icon-cancel" href="###" onclick="javascript:$('#frmObjectData').form('reset')">取消</a>
            </td>
        </tr>
    </table>
}



<script type="text/javascript">
    $(function () {
        $('#frmObjectData').form({
            success: function (data) {
                //console.log(data);
                //var data = eval('(' + data + ')');
                var ret = JSON.parse(data);
                if (ret.success) {
                    $.messager.alert('模块编辑', ret.msg, "info", function () {

                        // 关闭当前div 刷新父窗体
                        JsMiracleCommon.closeWindow(-1, ret.parentid);
                    });
                }
                else {
                    $.messager.alert('类型代码编辑', ret.msg, "error");
                }
            }
        });


        $("#txtDXDM").textbox({
            disabled: true,
        });

        $("#txtDXZD").textbox({
            disabled: true,
        });

        $("#txtZDMC").textbox({
            required: true,
            missingMessage: '显示名称不得为空'
        });
    });
</script>