@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="objectDataToolbar">
        <select id="cboTableName" />
        <a href="###" id="btnReloadColumns" >重新载入数据</a>
    </div>

    <table id="grdObjectData"></table>
</div>

<script type="text/javascript">
    
    var cmObjectData;

    $(function () {
        cmObjectData = {

            showEdit: function (op, id) {
                var width = '300px';
                var height = '250px';
                var title = '';
                var url = '';

                url = '@Url.Action("EditObjectData")' + '?id=' + id;
                title = '编辑代码';
                
                JsMiracleCommon.showWindow(title, url, width, height, this.refreshDatagrid);
            },

            refreshDatagrid: function () {
                $("#grdObjectData").datagrid('reload');
            }
        };

        $("#cboTableName").combobox({
            valueField: "DM",
            textField: "MC",
            url: '@Url.Action("GetTables")',
            width: "100px",
            editable: false,
            onSelect: function (rec) {
                if (rec) {
                    $("#grdObjectData").datagrid({
                        url: '@Url.Action("GetTableInfo")',
                        queryParams: {'tablename':rec.DM}
                    });
                }
            }
        });

        $("#btnReloadColumns").linkbutton({
            text:'重新载入数据',
            onClick: function () {
                var tablename = $("#cboTableName").combobox('getValue');
                if (tablename==null|| tablename =='') {
                    $.messager.alert('错误', '请选择要处理的表名', 'error');
                    return;
                }


                $.ajax({
                    url: '@Url.Action("ReSaveObjectDat")',
                    type: 'post',
                    data: { "tablename": tablename },
                    success: function (data) {
                        var ret = JSON.parse(data);

                        if (ret.success) {                            
                            $.messager.alert('重载数据成功', ret.msg, "info", function () {
                                $("#grdObjectData").datagrid({
                                    url: '@Url.Action("GetTableInfo")',
                                    queryParams: { 'tablename': tablename }
                                });
                            });
                        }
                        else {
                            $.messager.alert('重载数据失败', ret.msg, "error");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        JsMiracleCommon.showWindowContent("error", XMLHttpRequest.responseText
                            , "500px", "500px");
                    }
                })
            }
        });

        $("#grdObjectData").datagrid({
            //url: '@Url.Action("GetCodeList")',
            singleSelect: true,
            loadMsg: '数据载入中...',
            //pagination: true, // 是否显示分页控件
            //pagesize: 10,      // 每页行数
            //pageList: [10],    // 要选的每页行数 为了界面显示正确一定要和pagesize的值相同
            height: '700px',
            rownumbers: true,
            toolbar: '#objectDataToolbar',
            columns: [[
                {
                    field: '_operate', title: '操作', width: 150, align: 'center'
                    , formatter: function (value, row, index) {
                        var removeFunStr = 'JsMiracleCommon.removeItem(\'' + row.ID + '\',\''
                            + row.MC + '\',\'@Url.Action("RemoveCode")\',cmObjectData.refreshDatagrid)';

                        var html = '<a href="javascript:void(0)"  class="loan_remove_button"'
                                  + 'onclick="' + removeFunStr + '" >删除</a>'
                                  + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                  + '<a href="javascript:void(0)"  class="loan_edit_button" '
                                  + ' onclick="cmObjectData.showEdit(\'mod\',' + row.ID + ');">修改</a>';
                        //+ ' onclick="showWindow(\'模块信息编辑\',' + editActionUrl + ', 500,420);" >修改</a>';
                        //alert(JSON.stringify(row));
                        return html;
                    }
                },
                //{ field: 'ID', title: 'ID', width: 100, align: 'center' },
                { field: 'DXZD', title: '字段', width: 100, align: 'center' },
                { field: 'ZDMC', title: '名称', width: 100, align: 'center' },
                {
                    field: 'XGRQ', title: '修改日期', width: 150, align: 'center',
                    formatter: JsMiracleCommon.dateTimeFormatter
                },
                { field: 'XGR', title: '修改人', width: 100, align: 'center' }
            ]],
            onLoadSuccess: function (data) {
                $(".loan_remove_button").linkbutton({ iconCls: 'icon-remove' });
                $(".loan_edit_button").linkbutton({ iconCls: 'icon-edit' });
            },
            onLoadError: function (XMLHttpRequest) {
                JsMiracleCommon.showWindowContent("error", XMLHttpRequest.responseText
                    , "500px", "500px");
            }
        });
    });


</script>
