@{
    ViewBag.Title = "Index";
}


<div style="height:750px;">

    <div id="userToolbar">
        <b><label style="padding-left:10px">查询明细</label></b>&nbsp;&nbsp;&nbsp;
        <input type="text" id="txt" class="easyui-textbox" style="width:200px;" />
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search"
           onclick="userOp.reloadDataGrid()">查询</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add"
           onclick="userOp.editUser(false);">新增</a>
    </div>
    <div>
        <table id="userGrid" style="padding:10px"></table>
    </div>
</div>

<script type="text/javascript">


    $(function () {
        // 必须在页面加载后执行，否则边框画不全，应该是easyui加载时边框距离计算错误的原因
        $("#userGrid").datagrid(
              {
                  url: '@Url.Action("GetUserList")',
                  singleSelect: true,
                  loadMsg: '数据载入中...',
                  pagination: true, // 是否显示分页控件
                  pagesize: 10,      // 每页行数
                  pageList: [10],    // 要选的每页行数 为了界面显示正确一定要和pagesize的值相同
                  height: '750px',
                  toolbar: '#userToolbar',
                  rownumbers: true,
                  columns: [[
                      {
                          field: '_operate', title: '操作', width: 150, align: 'center'
                          , formatter: function (value, row, index) {
                              //var editActionUrl = '\'' + '@Url.Action("Edit")' + '?id=' + row.ID + '\'';
                              var editFunStr = 'userOp.editUser(true, ' + row.ID + ');';
                              var removeFunStr = 'JsMiracleCommon.removeItem(\'' + row.ID + '\',\''
                                  + row.YHM + '\',\'@Url.Action("Remove")\',userOp.refreshGrd)';

                              var html = '<a href="javascript:void(0)"  class="loan_remove_button" '
                                        + ' onclick="'+removeFunStr+'" >删除</a>'
                                        + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                        + '<a href="javascript:void(0)"  class="loan_edit_button" '
                                        + ' onclick="' + editFunStr + '">修改</a>';
                              return html;
                          }
                      },
                      { field: 'YHID', title: '员工号', width: 100, align: 'center' },
                      { field: 'YHM', title: '员工姓名', width: 100, align: 'center' },
                      { field: 'DY', title: 'Email', width: 150, align: 'center' },
                      // dateTimeFormatter 在 ~/Scripts/CustomScripts/common.js 中定义好的方法，用于格式化数据字符串
                      {
                          field: 'CJRQ', title: '创建日期', width: 150, align: 'center'
                            , formatter: JsMiracleCommon.dateTimeFormatter
                      }
                  ]],
                  onLoadSuccess: function (data) {
                      $(".loan_remove_button").linkbutton({ iconCls: 'icon-remove' });
                      $(".loan_edit_button").linkbutton({ iconCls: 'icon-edit' });
                  },
              });
    });

    // 每个页面的所有函数都定义成一个集合,访止方法名重覆
    var userOp = {

        refreshGrd:function(){
            $('#userGrid').datagrid('reload');
        },

        editUser : function (isEdit, id) {
            var height = '300px';
            var width = '350px';
            var title = '用户信息新增';
            var url = '@Url.Action("Create")';

            if (isEdit) {
                title = '用户信息编辑'
                url = '@Url.Action("Edit")' + '?id=' + id;
            }

            JsMiracleCommon.showWindow(title, url, width, height, userOp.reloadDataGrid);
        },

        // 子页面回调函数
        reloadDataGrid: function (txtV) {
            var txtVal = $("#txt").val();

            if (JsMiracleCommon.isArray(txtV)) {
                if (txtV[0])
                    txtVal = txtV[0];
            }
            else if (txtV) {
                txtVal = txtV;
            }

            $("#userGrid").datagrid('reload',
                {
                    txt: txtVal,
                });
        }
    }

</script>
