@{
    ViewBag.Title = "Index";
}
<div>
    <table id="tabFun"></table>
    <div id="toolbar">
        <a href="###" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="showEdit()">新增子功能</a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#tabFun").datagrid({
            url: '@Url.Action("GetModuleFunctionList", new { moduleid = ViewData["moduleid"] })',
            title: '子模块功能信息',
            singleSelect: true,
            loadMsg: '数据载入中...',
            pagination: true, // 是否显示分页控件
            pagesize: 10,      // 每页行数
            pageList: [10],    // 要选的每页行数 为了界面显示正确一定要和pagesize的值相同
            height: '650px',
            toolbar: '#toolbar',
            columns: [[
                {
                    field: '_operate', title: '操作', width: 150, align: 'center'
                    , formatter: function (value, row, index) {
                        var editActionUrl = '\'' + '@Url.Action("Edit")' + '?id=' + row.ID + '\'';

                        var onclickEvent = 'showEdit(' +row.ID + ');';
                        var html = '<a href="javascript:void(0)"  class="loan_remove_button"'
                                 + 'onclick="removeModuleFunction(\'' + row.ID + '\',\'' + row.FunctionName + '\')" >删除</a>'
                                 + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                 + '<a href="javascript:void(0)"  class="loan_edit_button" '
                                 + ' onclick="' + onclickEvent + '" >修改</a>';
                        console.log(html);
                        return html;
                    }
                },
                { field: 'ID', title: 'ID', width: 100, align: 'center' },
                { field: 'FunctionID', title: '功能编号', width: 100, align: 'center' },
                { field: 'FunctionName', title: '功能名称', width: 100, align: 'center' },
                { field: 'ControlID', title: '控件编号', width: 250, align: 'center' }
            ]],
            onLoadSuccess: function (data) {
                $(".loan_remove_button").linkbutton({ iconCls: 'icon-remove' });
                $(".loan_edit_button").linkbutton({ iconCls: 'icon-edit' });
            }
        });
    });

    function showEdit(id) {
        var width = 500;
        var height = 380;

        var title = '新增功能';
        var editActionUrl = '@Url.Action("Create", new { moduleid = ViewData["moduleid"] })';

        if (id != null ) {
            editActionUrl = '@Url.Action("Edit")' + '?id=' + id;
            title = '编辑功能';
        }

        showWindow(title, editActionUrl, width, height);
    }

    function removeModuleFunction(id, name) {
        $.messager.confirm('Confirm', '确定删除模块' + name + '?'
            , function (r) {
                if (r) {
                    $.post('@Url.Action("Remove")', { id: id }, function (result) {
                        if (result.success) {
                            $('#tabFun').datagrid('reload');    // 重新加载用户数据
                        } else {
                            $.messager.show({    // 显示错误信息
                                title: 'Error',
                                msg: result.errorMsg
                            });
                        }
                    }, 'json');
                }
            });
    }
</script>